<a href="https://colab.research.google.com/github/J-o-y-y/data_visualization_2023_sep./blob/main/20230918_%EB%84%A4%EC%9D%B4%EB%B2%84_%EC%A3%BC%EC%8B%9D_%ED%81%AC%EB%A1%A4%EB%A7%81_%EC%8B%A4%EC%8A%B5_replace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import requests
import csv
from bs4 import BeautifulSoup

file = open("네이버_주식_크롤링_실습.csv", mode="w", encoding="utf-8", newline="")
writer = csv.writer(file)

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36'
}

for page in range(2, 5):

    params = {
        'code':'005930',
        'page':page
    }

    response = requests.get(f'https://finance.naver.com/item/sise_day.naver', params=params, headers=headers)
    bs = BeautifulSoup(response.text, 'html.parser')

    for tr in bs.select('table.type2 tr'):
        if len(tr.select('td')) >= 7:
            writer.writerow([tr.select('td')[0].text.replace('.','-'),
                             tr.select('td')[1].text.replace(',','')])

file.close()